@import "./global.scss";
@import "./partials/socials";
@import "./partials/mixins";

body {
  @media screen and (min-width: 500px) {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 65% 35%;
    grid-template-areas:
      "cover intro"
      "cover blog";
  }
}

.cover {
  grid-area: cover;
  background-color: $pink;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
  height: 100vh;

  h1 {
    color: white;
    font-size: 6em;
    text-align: left;
  }

  .highlight {
    background-color: $yellow;
    color: $dark;
    padding: 0 0.5em;
  }
  p {
    color: white;
  }
}

.intro {
  padding: 2em;
  grid-area: intro;
  background-color: $yellow;
  height: 100%;
  @media screen and (max-width: 500px) {
    height: 50vh;
  }

  .about-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .about-me {
      width: 100%;
      font-size: 1.5rem;
    }

    .icon {
      color: $blue;
    }
  }

  .social-container {
    width: 100%;
    position: relative;
    bottom: 1rem;
    a {
      color: white;
      padding-left: 0.5rem;
      transition: transform 250ms;
    }

    a:hover {
      color: $dark;
      transform: translateY(-10px);
    }
  }
}

.blog-preview {
  grid-area: blog;
  background-color: $green;
  padding: 2em;
  @media screen and (max-width: 500px) {
    height: 50vh;
  }

  h2 {
    color: $dark;
    font-size: 2rem;
  }

  h3 {
    width: 100%;
    text-align: right;

    a:visited {
      color: $dark;
    }
  }

  .post-preview {
    h2 {
      font-size: 1.25em;
      color: white;
      padding-top: 0.5rem;
      @include hover-transition;

      &:hover {
        @include hover-background-effect(white, $green);
      }
    }
  }
}
