---
import BaseHead from '../components/BaseHead.astro';
import Socials from "../components/Socials.astro";

let title = 'Kate Preston';
let description = '';
let permalink = 'https://kate-preston.co.uk/';
---

<style lang="scss">
@import "../styles/global.scss";

  .body {
    // height: 100vh;
    width: 100vw;
  }

  .about-container {
    background-color: $yellow;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2em;

    p {
      padding: 1em;
      font-size: 3rem;
    }

    .icon {
      color: $blue;
    }
  }
</style>

<html lang={ 'en' }>
  <head>
    <BaseHead title={title} description={description} permalink={permalink} />
  </head>

  <body>
      <main class="about-container">
        <p class="about-me"> 
          Hello, I'm Kate. A fullstack engineer based in Edinburgh where I live by the <i class="icon fas fa-water"></i> with my partner and daughter. When I'm not <i class="icon fas fa-laptop-code"></i> you can usually find me tending to my <i class="icon fas fa-seedling"></i>, crocheting oddly shaped jumpers, cooking, reading and <i class="icon fas fa-swimmer"></i> in the sea.
        </p>
        <Socials />
      </main>
  </body>
</html>