---
// Component Imports
import BaseHead from '../components/BaseHead.astro';
import BlogHeader from '../components/BlogHeader.astro';
import BlogPostPreview from '../components/BlogPostPreview.astro';
import Socials from '../components/Socials.astro';

let title = 'Kate Preston';
let description = '';
let permalink = 'https://kate-preston.co.uk/blog';

let allPosts = Astro.fetchContent('./posts/*.md');
allPosts = allPosts.sort((a, b) => new Date(b.publishDate) - new Date(a.publishDate));

---
<html lang="en">
  <head>
    <BaseHead title={title} description={description} permalink={permalink} />
    <link rel="stylesheet" href="/blog.css" />
  </head>

  <body>
    <BlogHeader />
    <div class="content">
      <main class="blog-list">
        {allPosts.map(p => <BlogPostPreview post={p} />)}
      </main>
    </div>
    <footer>
      <Socials />
    </footer>
  </body>
</html>
