<style lang="scss">
  @import "../styles/global.scss";
  @import "../styles/partials/mixins.scss";

  .blog-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media screen and (min-width: 500px) {
      flex-direction: row;
    }
    @media screen and (max-width: 500px) {
      flex-direction: column;
    }

    ul {
      display: flex;
      justify-content: space-between;
      list-style-type: none;

      @media screen and (min-width: 500px) {
        padding: $medium-space $large-space;
      }
      @media screen and (max-width: 500px) {
        padding: $small-space;
      }

      li {
        padding: 0 $small-space;
      }

      a {
        background-color: $yellow;
        text-decoration: none;
        padding: 0 $small-space;
        @include hover-transition;

        @media screen and (max-width: 500px) {
          font-size: 1.5em;
        }
      }
      a:hover {
        @include hover-background-effect($green);
      }
    }

    h1 {
      color: $pink;
      margin: 0;

      @media screen and (min-width: 500px) {
        text-align: right;
        padding: $medium-space $large-space;
      }
      @media screen and (max-width: 500px) {
        display: none;
        // text-align: center;
        // padding: $small-space;
      }
    }
  }
</style>

<header class="blog-header">
  <nav>
    <ul>
      <li>
        <a href="/">
          Home
        </a>
      </li>
      <li>
        <a href="/blog">
          Blog
        </a>
      </li>
      <li>
        <a href="/about-me">
          About Me
        </a>
      </li>
    </ul>
  </nav>
  <h1>Kate Preston</h1>
</header>