---
export interface Props {
  post: any;
  small?: boolean;
}

const { post, small = false } = Astro.props;
---

<style lang="scss">
  @import "../styles/partials/mixins.scss";

 .post-preview {
  &.small {
    .title {
      font-size: 1.25em;
      color: white;
      padding-top: $small-space;
      @include hover-transition;

      &:hover {
        @include hover-background-effect(white, $green);
      }
    }
  }

  &:not(.small) {
    margin-bottom: $large-space;
  }
  
  @include hover-transition;
  
  &:hover {
    @include hover-background-effect($green-transparent);
  }
  .title {
    color: $dark;
  }

  a: {
    color: $dark;
    text-decoration: none;
  }

  a:visited {
    color: inherit;
  }

  .description {
    font-size: 1.1em;
  }

  .publish-date {
    text-align: right;
    width: 100%;
    color: $dark;
  }
}
</style>

<article class={`post-preview ${small ? "small" : ""}`}>
  <a href={post.url} >
    <h2 class="title">{post.title}</h2>
    {small ? null :( 
      <div>
        <p class="description">{post.description}</p>
        <h4 class="publish-date">{post.publishDate}</h4>
      </div>
    )}
  </a>
</article>